.myAvailability {
    background : url(texture.png) repeat;
}

.someAvailability {
    background : url(texture.png) repeat;
}

.sch-event {
    background-image : none;
    border-radius    : 1px;
}

.Mike-event {
    background-color : whitesmoke;
}

.Anna-event {
    background-color : Aqua;
}

.Dan-event {
    background-color : BlanchedAlmond;
}

.Andrew-event {
    background-color : BlanchedAlmond;
}

.Frida-event {
    background-color : BlanchedAlmond;
    border           : 1px dashed #aaa;
}

.Kate-event {
    background-color : AliceBlue;
}

.Don-event {
    background-color : Khaki;
}

.Doug-event {
    background-color : Plum;
}

.Peter-event {
    background-color : Gold;
}
