.sch-event
{
    border-radius: 0;
    border-width: 2px;
    box-shadow: none;
}

.type-travel
{
    border-color:blue;
    background:blue;
    height:10%;
}

.type-task
{
    background:orange;
    border-color:orange;
    height:25%;
}

.type-break
{
    background:green;
    border-color:green;
    height:17%;
}


.type-travel.time-planned
{
    top:19%;
}

.type-task.time-planned
{
    top:12%;
}

.type-break.time-planned
{
    top:16%;
}


.type-travel.time-actual
{
    top:68%;
}

.type-task.time-actual
{
    top:60%;
}

.type-break.time-actual
{
    top:63%;
}