.sch-event
{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    opacity:0.9;
}
.sch-event-inner
{
    padding-top:2px;
}

.sch-event-fixed
{
    background-image:-webkit-linear-gradient(orange, red);
    background-image:-moz-linear-gradient(orange, red);
    background-image:-ms-linear-gradient(orange, red);
    background-image:linear-gradient(orange, red);
}

.sch-event-fixed .sch-event-inner
{
    /*
     * Icon by Tomas Gajar.
     * http://www.smashingmagazine.com/2011/12/29/freebie-free-vector-web-icons-91-icons/
     */
    background: transparent url(images/locked.png) no-repeat left center;
    background-size: 16px 16px;
    padding-left:23px;
}

.customZoneStyle
{
    background: transparent url(images/graytexture.png) repeat !important;
    opacity:0.75;
}

.myZoneStyle
{
    background: transparent url(images/pattern.png) repeat !important;
    opacity:0.6;
}

.sch-horizontal .important
{
    border-left:2px dotted red;    
}

.sch-vertical .important
{
    border-bottom:2px dotted red;
}

.sch-schedulerpanel .x-grid-row .x-grid-cell,
.sch-schedulerpanel .x-grid-row .x-grid-cell-inner {
    border-top: 0 none;
    border-bottom: 0 none;
}

.sch-zone
{
    text-align:center;
}

.zone-type
{
    background-color: rgba(83,13,134,0.7); 
    bottom: 0;
    color: #FFEEEE;
    display: block;
    font-size: 0.8em;
    line-height:25px;
    height: 25px;
    position: absolute;
    width: inherit;
}


.type1
{
    background-image:-webkit-linear-gradient(top, khaki, beige);
    background-image:-moz-linear-gradient(top, khaki, beige);
    background-image:-ms-linear-gradient(top, khaki, beige);
    background-image:linear-gradient(top, khaki, beige);
}

.type2
{
    background-image:-webkit-linear-gradient(top, #fee, lightblue);
    background-image:-moz-linear-gradient(top, #fee, lightblue);
    background-image:-ms-linear-gradient(top, #fee, lightblue);
    background-image:linear-gradient(top, #fee, lightblue);
}

.type3
{
    background-image:-webkit-linear-gradient(top, lightgray, #aaa);
    background-image:-moz-linear-gradient(top, lightgray, #aaa);
    background-image:-ms-linear-gradient(top, lightgray, #aaa);
    background-image:linear-gradient(top, lightgray, #aaa);
}
