/*
 * Icons by Tomas Gajar.
 * http://www.smashingmagazine.com/2011/12/29/freebie-free-vector-web-icons-91-icons/
 */

.sch-event
{
    box-shadow:1px 1px 1px #EEE;
    padding-left: 55px;
    opacity: 0.7;
    padding-top:5px;
}

.sch-event-inner
{
    margin-top:0;
}

.icon-1
{
    background: url("images/file plus.png") no-repeat scroll 7px center limegreen;
}

.icon-2
{
    background: url("images/location 2.png") no-repeat scroll 7px center lightblue;
}

.icon-3
{
    background: url("images/picture.png") no-repeat scroll 7px center #ccc;
}

.icon-4
{
    background: url("images/graph.png") no-repeat scroll 7px center lightgray;
}

.icon-5
{
    background: url("images/locked.png") no-repeat scroll 7px center lightgray;
}

.sch-compact-rowheight .sch-event
{
    line-height: 20px;
    background-size: 14px 14px;
}

.sch-header-row-table
{
    background: -webkit-linear-gradient(top,#E9EAEC 0%,#D4D4D6 100%);
    background: -moz-linear-gradient(top,#E9EAEC 0%,#D4D4D6 100%);
    background: -ms-linear-gradient(top,#E9EAEC 0%,#D4D4D6 100%);
    background: linear-gradient(top,#E9EAEC 0%,#D4D4D6 100%);
    border-bottom: 2px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(255, 255, 255, .9);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 0 1px 1px white;
}

.sch-header-row-table:last-child td
{
    font-weight:bold;
}

.sch-header-row-table td
{
    background: transparent none;
    color:#666;
}

.ubergrid-simple-locked td img
{
    border:1px solid #aaa;
    padding: 1px;
    float: left;
    height:60%;
    max-height: 39px;
    max-width: 36px;
    margin-right: 10px;
    opacity: 0.5;
}

.ubergrid-simple-locked dl
{
    float:left;
    font-size: 0.8em;
}

.ubergrid-simple-locked dd
{
    color:#777;
    margin-top:1px;
}

.ubergrid-simple-locked dt
{
    color:#333;
    font-weight: bold;
}

.sch-schedulerpanel .ubergrid-simple-locked td.ubergrid-header-column
{
    background-color: #DCE9F9;
    background-image: -webkit-linear-gradient(top, #EBF3FC, #DCE9F9);
    background-image: -moz-linear-gradient(top, #EBF3FC, #DCE9F9);
    background-image: -ms-linear-gradient(top, #EBF3FC, #DCE9F9);
    background-image: linear-gradient(top, #EBF3FC, #DCE9F9);
}